<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias alias="jqGrid" type="com.boyeeru.adios.utils.jqgrid.model.JqGrid"/>

		<typeAlias alias="people" type="com.boyeeru.adios.web.model.mng.people.People"/>
		<typeAlias alias="code" type="com.boyeeru.adios.web.model.sys.cmmn.code.Code"/>
		<typeAlias alias="treeCode" type="com.boyeeru.adios.web.model.sys.cmmn.code.TreeCode"/>
	</typeAliases>
</configuration>